{% block form_errors %}
    {% for error in errors %}
        <div class="form-group has-error">
            <label class="control-label">{{ error.message }}</label>
        </div>
    {% endfor %}
{% endblock %}