{% extends 'base.html.twig' %}

{% block title %}Edit Students{% endblock %}

{% block body %}
  <!-- Page header -->
  <header class="page-header">
    <div class="container page-name">
      <h1>Edit Students</h1>
      {{ include('students/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
  </header>
{% endblock %}
