.delete-btn {
    display: inline-block;
}

.social-icons {
    a.mail:hover {
        background-color: #517fa4;
    }

    a.phone:hover {
        background-color: #4F805D;
    }
}

.custom-picker-location>div {
    max-height: 300px !important;
}

.page-header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 24, 40, .55);
}

@media (max-width: 768px) {
    .sticky {
        position: fixed;
        bottom: 0;
        z-index: 2 !important;
        padding: 10px 0;
        width: 100%;

        .section-header {
            margin-bottom: 10px;

            h2,
            p {
                display: none;
            }
        }

        .btn-xl {
            height: 44px;
            line-height: 44px;
        }
    }
}

.section-header {
    margin-bottom: 50px;
}

section {
    padding: 70px 0;
}

@media (max-width: 767px) {
    section {
        padding: 50px 0;
    }
}

.section-header h2,
.section-header h3 {
    text-transform: initial;
}