<!-- Top section -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h6>Contact</h6>
      <p class="text-justify">
      CCI Formation Alternance NOUMEA<br/>
      Immeuble Journot<br/>
      14 rue de Verdun<br/>
      BP M3 98849 NOUMEA Cedex<br/>
      Nouvelle-Calédonie
      </p>
      <p><i class="fa fa-phone"></i> Téléphone : <a class="phone" href="tel:+687243145">(+687) 24 31 45</a></p>
    </div>

    <div class="col-xs-6 col-md-3">
      <h6>La CCI</h6>
      <ul class="footer-links">
        <li><a href="page-about.html">A propos de nous</a></li>
        <li><a href="page-typography.html">L'alternace comment ça marche</a></li>
        <li><a href="page-faq.html">Le point A</a></li>
      </ul>
    </div>

    
    <div class="col-xs-6 col-md-3">
    {% if is_granted('ROLE_APPRENANT') %}
      <h6>Alternants</h6>
      <ul class="footer-links">
        <li><a href="javascript:;">Mon profil</a></li>
        <li><a href="javascript:;">Offres d'emploi</a></li>
        <li><a href="javascript:;">Les Entreprises</a></li>
      </ul>
    {% endif %}
    {% if is_granted('ROLE_BUSINESSES') %}
      <h6>Entreprises</h6>
      <ul class="footer-links">
        <li><a href="javascript:;">Mon Entreprise</a></li>
        <li><a href="javascript:;">Mes offres d'emploi</a></li>
        <li><a href="javascript:;">Les Apprenants</a></li>
      </ul>
    {% endif %}
    </div>
  </div>
  <hr>
</div>
<!-- END Top section -->

<!-- Bottom section -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text">Copyrights &copy; 2019 Tous droits réservés au <a href="https://www.cfa.cci.nc/">CFA</a>.</p>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="facebook" href="https://www.facebook.com/cciformationalternancenouvellecaledonie/"><i class="fa fa-facebook"></i></a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/company/chambre-de-commerce-et-d%27industrie-de-nouvelle-cal-donie/"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="mail" href="mailto:cfa@cci.nc"><i class="fa fa-envelope"></i></a></li>
        <li><a class="phone" href="tel:+687243145"><i class="fa fa-phone"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END Bottom section -->