      <div class="container">

        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href="index.html"><img src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
            <a class="logo-alt" href="index.html"><img src="{{ asset('assets/img/logo-alt.png') }}" alt="logo-alt"></a>
          </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-primary" href="{{ path("app_logout") }}">se déconnecter</a>
        </div>
        {% else %}
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-primary" href="{{ path("app_login") }}">Se connecter</a>
        </div>
        {% endif %}
        <!-- END User account -->
        {% if is_granted('ROLE_APPRENANT') %}
        <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="index.">Menu Apprenant</a>
            <ul>
              <li><a class="active" href="index.html">Version 1</a></li>
              <li><a href="index-2.html">Version 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Apprenant</a>
            <ul>
              <li><a href="javascript:;">Browse jobs - 1</a></li>
              <li><a href="javascript:;">Browse jobs - 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Apprenant</a>
            <ul>
              <li><a href="resume-list.html">Browse resumes</a></li>
              <li><a href="resume-detail.html">Resume detail</a></li>
              <li><a href="resume-add.html">Create a resume</a></li>
              <li><a href="resume-manage.html">Manage resumes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Apprenant</a>
            <ul>
              <li><a href="company-list.html">Browse companies</a></li>
              <li><a href="company-detail.html">Company detail</a></li>
              <li><a href="company-add.html">Create a company</a></li>
              <li><a href="company-manage.html">Manage companies</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Mon profil</a>
          </li>
        </ul>
        <!-- END Navigation menu -->
        {% endif %}
        {% if is_granted('ROLE_BUSINESSES') %}
        <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="index.">Menu Businesses</a>
            <ul>
              <li><a class="active" href="index.html">Version 1</a></li>
              <li><a href="index-2.html">Version 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Businesses</a>
            <ul>
              <li><a href="javascript:;">Browse jobs - 1</a></li>
              <li><a href="javascript:;">Browse jobs - 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Businesses</a>
            <ul>
              <li><a href="resume-list.html">Browse resumes</a></li>
              <li><a href="resume-detail.html">Resume detail</a></li>
              <li><a href="resume-add.html">Create a resume</a></li>
              <li><a href="resume-manage.html">Manage resumes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Menu Businesses</a>
            <ul>
              <li><a href="company-list.html">Browse companies</a></li>
              <li><a href="company-detail.html">Company detail</a></li>
              <li><a href="company-add.html">Create a company</a></li>
              <li><a href="company-manage.html">Manage companies</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Mon profil</a>
          </li>
        </ul>
        <!-- END Navigation menu -->
        {% endif %}

      </div>