<!DOCTYPE html>
<html>
    <head>
        <title>{{ meta_title }}</title>
        {% include "/ressources/meta.html.twig" %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="nav-on-header smart-nav">
        <nav class="navbar">
            {% include "/ressources/navbar.html.twig" %}
        </nav>

        {% block body %}{% endblock %}

        <footer class="site-footer">
            {% include "/ressources/footer.html.twig" %}
        </footer>

        <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
        
        {% include "/ressources/js.html.twig" %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
