{% extends 'base.html.twig' %}

{% block title %}Edit Businesses{% endblock %}

{% block body %}
    <h1>Edit Businesses</h1>

    {{ include('businesses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('businesses_index') }}">back to list</a>

    {{ include('businesses/_delete_form.html.twig') }}
{% endblock %}
