{% extends 'base.html.twig' %}

{% block title %}New Businesses{% endblock %}

{% block body %}
    <h1>Create new Businesses</h1>

    {{ include('businesses/_form.html.twig') }}

    <a href="{{ path('businesses_index') }}">back to list</a>
{% endblock %}
